.header
  z-index: 2
  // position: relative
  position: absolute
  top: 0
  left: 0
  // right: 0
  width: 100%
  +tr(.3s linear)

  &__container
    padding-top: 0
    padding-bottom: 15px
    min-height: 56px
    display: flex
    justify-content: flex-start
    align-items: center
    // flex-wrap: wrap
    +mq($medium)
      padding-top: 19px


  &__logo
    position: relative
    top: 15px
    margin-right: 0
    max-width: 112px
    +mq($medium)
      margin-left: 6px
      max-width: 97px


  &__nav
    position: relative
    top: 10px
    margin-left: auto
    +mq($medium)
      margin-left: 0
    +mq($large)
      max-width: 100%

  &__contact
    margin-left: auto
    display: none
    +mq($medium)
      display: flex



