.page_inner
    .header
        background-color: rgba(34, 35, 43, 1)
        background-image: none
        box-shadow: inset 0px -2px 0px 0px rgba(229, 21, 21, 1)


    .page__inner
        padding-top: 50px
