mixin social(data)
    ul.social.flex&attributes(attributes)
        li.social__item
            a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'inst-icon', className: 'social__icon'})
